.divLink {
    display: flex;
    background-color: rgba(224, 243, 224, 0.933);
    justify-content: space-evenly;
    gap: 150px;
    padding: 0.8rem;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
}

.liLink {
    display: flex;
    color: red;
    gap: 150px;
    font-size: 1.3rem;
    list-style-type: none;
    text-align: center;

    & a {
        text-decoration: none;
    }
    & li {
        width: 140px;

    }
    & li:hover {
        background-color: rgb(225, 219, 199);
        border-radius: 50px;
    }

}
