@import "../scss/_variables.scss";

.divLink {
    background-color: $navFtrBgColor;
}

.liLink {
    display: flex;
    color: red;
    gap: 10px;
    font-size: 1em;
    list-style-type: none;
    text-align: center;

    & a {
        text-decoration: none;
    }
    & li {
        width: 100px;
    }
    & li:hover {
        background-color: rgb(225, 219, 199);
        border-radius: 50px;
    }
}

.baslik {
    color: rgba(86, 108, 86, 0.933);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}
